@using Speedo_Bus_Facilitation.Models
@model  Speedo_Bus_Facilitation.ViewModels.RoutesViewModel

@{
    ViewBag.Title = "Route";
}

<div style="color: #D02525; display: flex; justify-content: center; margin-top: 100px;margin-bottom: 50px; ">
    <h2>Route Details</h2><br />

</div>
<table class="table table-striped" style="margin-top: 50px ">
    <thead>
        <tr>
            @*<th>Route Number</th>*@
            <th>Route Name</th>
            @*<th>Distance</th>*@
            <th>Buses Number</th>
            <th>Bus Stops</th>
            <th>Route Image</th>
        </tr>
    </thead>
    <tbody style="color: #d02525">
        <tr>
            @*<td class="col-lg-2">FR - @Model.Number</td>*@
            <td class="col-lg-2">@Model.Route.RouteName</td>
            @*<td class="col-lg-2">@Model.Route.Distance km</td>*@
            <td class="col-lg-3">
                @foreach (var item in Model.BusNosList)
                {
                    @Html.Raw(item + ", ");

                }
            </td>
            <td class="col-lg-5">
                @foreach (var item in Model.BusStops)
                {
                    @Html.Raw(item.Name + ", ")

                }
            </td>
            <td class="col-lg-2"><a href="@Model.Route.Img" target="_blank">Maps</a></td>
        </tr>

    </tbody>
    <tfoot>
        <tr>
            @*<th>Route Number</th>*@
            <th>Route Name</th>
            @*<th>Distance</th>*@
            <th>Buses Number</th>
            <th>Bus Stops</th>
            <th>Route Image</th>
        </tr>
    </tfoot>

</table>